body {
	background-color:#eee;
}
.activity_editor {
	position:relative;
	top:20;
	left:20;
    margin-bottom:1em;
}
.activity_editor .control {
    position: absolute;
    left:1px;
    top:1px;
}
.activity_editor .diagram {
	position: absolute;
	left:0;
	top:0;
	z-index:1;
	border:#aaa 1px solid;
}
.qunit {
	margin-top:1em;
	display:none;
}
