body {
	background-color:#fff;
	font-size:12px;
	font-family:verdana;
}
.activity_editor {
	position:relative;
}
.activity_editor .element_properties {
	position:absolute;
	top:0px;
	left:0px;
	width:190px; /* 10px total padding */
	height:462px; /* 10px total padding */
	background-color:#efefef;
	border:#aaa 1px solid;
	border-right:none;
	padding:5px;
}
.activity_editor .element_properties .props .field {
	margin-bottom:5px;
}
.activity_editor .element_properties .props .field label {
	font-weight:bold;
}
.activity_editor .element_properties .props input {
	width:188px;
}
.activity_editor .actions {
	position:absolute;
	top:0;
    left:200px;
	width:1200px;
	height:22px;
	background-color:#efefef;
	border:#aaa 1px solid;
}
.activity_editor .events_status {
	position:absolute;
	top:477px;
	left:200px;
	height:22px;
}
.activity_diagram {
	position:absolute;
	top:22px;
	left:200px;
    margin-bottom:1em;
}
.activity_diagram .control {
    position: absolute;
    left:1px;
    top:1px;
}
.activity_diagram .diagram {
	position: absolute;
	left:0;
	top:0;
	z-index:1;
	border:#aaa 1px solid;
}
.qunit {
	position:relative;
	top:500px;
	width:1400px;
}