/*  general */
body {
    font-size:12px;
    font-family:verdana;
}
.hidden {
    display:none;
}

/* editor */
.activity_editor {
    position:relative;
}

/* properties */
.activity_editor .element_properties {
    font-size:10px;
    position:absolute;
    top:22px;
    left:0px;
    width:190px; /* 10px total padding */
    height:440px; /* 10px total padding */
    background-color:#ffffee;
    border:#aaa 1px solid;
    border-right:none;
    padding:5px;
}
.activity_editor .element_properties .props {
    border-top:#ccc 1px solid;
    margin-top:5px;
    padding-top:5px;
}
.activity_editor .element_properties .props .field {
    margin-bottom:5px;
}
.activity_editor .element_properties .props .field label {
    font-weight:bold;
}

.activity_editor .element_properties input,
.activity_editor .element_properties textarea {
    font-size:10px;
}
.activity_editor .element_properties input {
    width:188px;
}
.activity_editor .element_properties .update {
    width:90px;
}
.activity_editor .element_properties .status {
    position:absolute;
    bottom:0px;
    padding-top:2px;
    border-top:#ccc 1px solid;
    width:190px;
    height:60px;
}

/* diagram */
.activity_diagram {
    position:absolute;
    top:22px;
    left:200px;
    margin-bottom:1em;
}
.activity_diagram .control {
    position: absolute;
    left:1px;
    top:1px;
}
.activity_diagram .diagram {
    position: absolute;
    left:0;
    top:0;
    z-index:1;
    border:#aaa 1px solid;
}

/* actions */
.activity_editor .actions {
    position:absolute;
    top:0;
    left:200px;
    width:1200px;
    height:22px;
}
.activity_editor .actions .section {
    float:left;
    padding-left:22px;
    padding-right:22px;
    padding-top:2px;
    border-right:#ccc 1px solid;
}
.activity_editor .actions a {
    line-height:16px;
    padding-left:16px;
    cursor:pointer;
    text-decoration:none;
}
.activity_editor .actions a.new_activity {
    background:url('icons/new.png') 50% 50% no-repeat;
}
.activity_editor .actions a.open_activity {
    background:url('icons/open.png') 50% 50% no-repeat;
}
.activity_editor .actions a.save_activity {
    background:url('icons/save.png') 50% 50% no-repeat;
}
.activity_editor .actions a.initial_node {
    background:url('icons/initial.png') 50% 50% no-repeat;
}
.activity_editor .actions a.final_node {
    background:url('icons/activity_final.png') 50% 50% no-repeat;
}
.activity_editor .actions a.action_node {
    background:url('icons/action.png') 50% 50% no-repeat;
}
.activity_editor .actions a.join_node {
    background:url('icons/join.png') 50% 50% no-repeat;
}
.activity_editor .actions a.fork_node {
    background:url('icons/fork.png') 50% 50% no-repeat;
}
.activity_editor .actions a.merge_node {
    background:url('icons/merge.png') 50% 50% no-repeat;
}
.activity_editor .actions a.decision_node {
    background:url('icons/decision.png') 50% 50% no-repeat;
}
.activity_editor .actions a.edge {
    background:url('icons/edge.png') 50% 50% no-repeat;
}
.activity_editor .actions a.debug {
    background:url('icons/debug.png') 50% 50% no-repeat;
}
.activity_editor .actions a.run_tests {
    background:url('icons/run.png') 50% 50% no-repeat;
}
.activity_editor .actions a.flip_layers {
    background:url('icons/flip.png') 50% 50% no-repeat;
}

/* tests */
.qunit {
    display:none;
    position:relative;
    top:480px;
    width:1400px;
}