body {
    max-width: 960px;
}
.destroyall {
    cursor: pointer;
}
.layer.editmode-addnewnode path.ctrl {
    opacity: 0.2;
    stroke: green;
    stroke-width: 25;
}
.layer.editmode-remove .subtractable {
    stroke: red;
}
.tool {
    cursor: pointer;
}
.toolbar .tool.highlight {
    color: red;
}
