/* there is no spoon */
#body .node.selected rect.symbol {
    stroke: green;
}
/* keep this alphabetically sorted at all costs */
.addlibnode {
    /* XXX: would be nice to use full available area, not fixed px */
    height: 190px;
    overflow: auto;
}
.arc {
    fill: None;
    stroke: #424242;
    stroke-width: 2;
}
.arc .ctrl {
    fill: None;
    stroke: None;
}
.arc.mimoctrl .label {
    fill: None;
}
/* XXX: harmonize these editmodechangers */
.editmodechanger {
    cursor: pointer;
    border: solid 2px;
    border-color: white;
    border-radius: 2px;
}
.editmodechanger.highlight {
    border-color: black;
}
.editmodechanger li {
    cursor: pointer;
    border: solid 2px;
    border-color: white;
    border-radius: 2px;
}
.editmodechanger li.highlight {
    border-color: black;
}
.label {
    fill: black;
    font: normal normal normal 10px/normal Arial;
    stroke: None;
    text-anchor: middle;
}
.layer {
    height: 550px;
    margin: 2px;
}
.layer .activity {
    border: solid 1px;
    border-radius: 15px;
}
.layer.top .activity {
    border-radius: 0px;
}
.layer.editmode-addnode .arc .ctrl {
    opacity: 0.2;
    fill: green;
}
.layer.editmode-addnode .arc.mimoctrl {
    opacity: 0.2;
    stroke: green;
}
.layer.editmode-subtract .graph .subtractable .symbol {
    stroke: red;
    stroke-opacity: 0.6;
    stroke-width: 4px;
}
.layer.editmode-subtract .graph .subtractable.arc .ctrl {
    fill: red;
    fill-opacity: 0.2;
}
/* XXX: bad, mimoctrls should not be symbols */
.layer.editmode-subtract .graph .subtractable .mimoctrl .symbol{
    stroke: None;
}
.layerlabel {
    font: normal normal normal 16px/normal Arial;
    text-anchor: start;
}
.menubar div {
    cursor: pointer;
}
.mimoctrl {
    fill: None;
    stroke: None;
}
.mimoctrlin.arc .symbol {
    opacity: 0.2;
    stroke: green;
}
.mimoctrlin.arc .ctrl {
    opacity: 0.2;
    fill: green;
}
.node.action {
    fill: edf7ff;
    stroke: #b5d9ea;
    stroke-width: 2;
}
.node.decmer .decision.symbol {
    fill: #edf7ff;
    stroke: #b5d9ea;
    stroke-width: 2;
}
.node.decmer .merge.symbol{
    fill: #424242;
    stroke: None;
}
.node.final circle.inner {
    fill: #424242;
    stroke: None;
}
.node.final circle.outer {
    fill: white;
    stroke: #424242;
    stroke-width: 2;
}
.node.forkjoin {
    fill: #424242;
    stroke: None;
}
.node.initial {
    fill: #424242;
    stroke: None;
}
.rake {
    fill: white;
    stroke: grey;
}
.svg {
    height: 100%;
    width: 100%;
}
.tool {
    cursor: pointer;
}
/* scratchpad below here, should be replaced with proper classes */
input {
    outline-color: green;
    width: 100%;
}
textarea {
    outline-color: green;
    width: 100%;
}
.unsaved {
    outline-color: orange;
}
