/* keep this alphabetically sorted at all costs */
.arc {
    stroke: #424242;
    stroke-width: 2;
}
.arc.ctrl {
    opacity: 0;
}
.destroyall {
    cursor: pointer;
}
.layer.editmode-addnewnode .arc.ctrl {
    opacity: 0.2;
    fill: green;
}
.layer.editmode-addnewnode .arc.mimoctrl {
    opacity: 0.2;
    stroke: green;
}
.layer.editmode-pathmerge .arc.pathmerge.ctrl {
    opacity: 0.2;
    fill: green;
}
.layer.editmode-pathmerge .arc.pathmerge.mimoctrl {
    opacity: 0.2;
    stroke: green;
}
.layer.editmode-remove .subtractable {
    stroke: red;
}
.layer.editmode-remove .subtractable.ctrl {
    opacity: 0.2;
    fill: red;
}
.mimoctrl {
    fill: None;
    stroke: None;
}
.node.action {
    fill: edf7ff;
    stroke: #b5d9ea;
    stroke-width: 2;
}
.node.decision {
    fill: #edf7ff;
    stroke: #b5d9ea;
    stroke-width: 2;
}
.node.final.inner {
    fill: #424242;
    stroke: None;
}
.node.final.outer {
    fill: white;
    stroke: #424242;
    stroke-width: 2;
}
.node.forkjoin {
    fill: #424242;
    stroke: None;
}
.node.initial {
    fill: #424242;
    stroke: None;
}
.node.merge {
    fill: #424242;
    stroke: None;
}
.tool {
    cursor: pointer;
}
.toolbar .tool.highlight {
    color: red;
}
/* scratchpad below here, should be replaced with proper classes */
body {
    max-width: 960px;
}
input {
    outline-color: green;
    width: 100%;
}
textarea {
    outline-color: green;
    width: 100%
}
.unsaved {
    outline-color: orange;
}
